
<% @pins.each do |pin| %>
  <div class="panel panel-dafault">
    <div class="panel-body">
      <img src="<%= pin.image_url %>" alt="<%= pin.title %>">
      <h2><%= pin.title %></h2>
      <p class="user">Publicado Por <%= pin.user.email  %></p>
    </div>
  
  </div>

<% end %>